<app-page>
  <app-heading>
    <app-branding></app-branding>
    <app-theme-toggle></app-theme-toggle>
  </app-heading>
  <app-panel-container>
    <app-panel>
      <app-panel-header></app-panel-header>
      <app-panel-body>
        <app-add-item
          placeholder="Add a Daily">
        </app-add-item>
      </app-panel-body>
    </app-panel>
    <app-panel>
      <app-panel-header></app-panel-header>
      <app-panel-body>
        <app-add-item
          placeholder="Add a Task">
        </app-add-item>
      </app-panel-body>
    </app-panel>
  </app-panel-container>
</app-page>
