<app-page>
  <app-heading>
    <app-branding></app-branding>
    <app-theme-toggle></app-theme-toggle>
  </app-heading>
  <app-panel-container>
    <app-panel>
      <app-panel-header></app-panel-header>
      <app-panel-body>

      </app-panel-body>
    </app-panel>
    <app-panel>
      <app-panel-header></app-panel-header>
      <app-panel-body>
        <app-add-task
          placeholder="Add a Task">
        </app-add-task>
        <app-task-list>
          <app-task *ngFor="let task of tasks" [task]="task"></app-task>
        </app-task-list>
      </app-panel-body>
    </app-panel>
  </app-panel-container>
</app-page>
