<div
  class="modal__background">
  <div class="modal">
    <div class="modal__header">
      <div>
        <div class="modal__title">
          Edit Task
        </div>
        <div class="m-4">
          <div class="modal__controls">
            <div>
              <div>
                <label for="itemTitle" class="modal__label">Title</label>
              </div>
              <ng-content select="[slot=modal-input]"></ng-content>
            </div>
            <ng-content select="[slot=modal-important-button]"></ng-content>
            <div class="pt-6">
              <ng-content select="[slot=modal-cancel-button]"></ng-content>
              <ng-content select="[slot=modal-save-button]"></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-800 p-8 text-center flex flex-col rounded-b-lg">
      <button>
        <div class="text-center">
          <svg class="w-6 h-6 text-red-400 mx-auto" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="text-red-400 font-semibold rounded-b-lg">
          delete
        </div>
      </button>
    </div>
  </div>
</div>
